<launch>
  <include file="$(find raspimouse_navigation_3)/launch/run_move_base.launch"/>
  <include file="$(find raspimouse_navigation_3)/launch/run_amcl.launch"/>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find mapping_pfoe)/config/relocalization.rviz"/>

  <arg name="map_file" default="$(find raspimouse_navigation_3)/maps/map2024.yaml"/>
<!--  <arg name="map_file" default="/tmp/map.yaml"/> -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" output="screen"/>
</launch>
